@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main--container {
  grid-template-rows: 1fr 2fr 12fr;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
